@import "tailwindcss";

@theme inline {
  --color-yellow: #fcb72b;
  --color-dark-navy: #495567;
  --color-dim-grey: #939caa;
  --color-light-grey: #e5ecf4;
  --color-snow: #f2f5f9;
  --color-light-yellow: #fff4df;
  --font-sans: "Lexend Deca", sans-serif;
  --font-mono: "Space Mono", monospace;
}

body {
  color: var(--color-dark-navy);
  background: var(--color-snow);
  font-family: var(--font-mono);
  overflow-x: hidden;
}

p{
  font-family: var(--font-sans);
}